.about{
	position: absolute;
	top: 0;
	left: 8%;
	width: 50%;
	height: 80%;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 10px 10px 10px grey;
}
.article{
	position: absolute;
	left: 12%;
	width: 60%;
	height: 100%;
	color: grey;
	text-shadow: 3px 3px 3px white;
	font-size: 120%;
	font-weight: 900;
	overflow: auto;
}
.ima{
	margin: 0;
	width: 80%;
}
.code{
	text-align: center; 
	margin: 2%;
	float: left;
	width: 15%;
}
.code1{
	position: absolute;
	right: 5%;
	top: 0;
}
.code2{
	position: absolute;
	right: 5%;
	top: 40%;
}
@media screen and (max-width: 540px){
	.article{
		font-size: 60%;
		width: 90%;
		height: 60%;
		position: absolute;
		left: 6%;
		top: -5%;
	}
	.ima{
		display: inline;
		margin: 0;
		width: 90%;
	}
	.code{
		text-align: center; 
		width: 30%;
	}
	.code1{
		position: relative;
		left: 10%;
		top: 60%;
	}
	.code2{
		position: relative;
		right: -10%;
		top: 60%;
	}
	.code p{
		font-size: 5px;
	}
}