.all{ width:100%;
      overflow:hidden;
	  }
.member{ width:4500px;
         height:600px;
         position:relative;
         float:left;}

.orz{
	width:1360px;
	float:left;
	}

.one,.two,.three{ width:220px;
      height:600px;
      margin:0 60px;
      float:left;     }
.row-one{ margin:40px 0; }
.row-two{ margin-top:40px;}
.row-three{ margin-bottom:40px; }
.img-one{ width:220px;
          height:40px;}
.one-one{ width:40px;
          height:40px:
          padding:auto;
          margin-left:180px;}
.one-two{ width:40px;
          height:40px:
          padding:auto;
          margin-right:180px;}
.one-three{ width:40px;
            height:40px:
            padding:auto;
            margin-left:180px;}
.one-four{ width:40px;
           height:40px:
           padding:auto;
           margin-right:180px;}
.one-five{ width:40px;
          height:40px:
          padding:auto;
          margin-left:180px;}







